<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productUser">
            <h2><span jhiTranslate="task1HalfApp.productUser.detail.title">Product User</span> {{productUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="task1HalfApp.productUser.name">Name</span></dt>
                <dd>
                    <span>{{productUser.name}}</span>
                </dd>
                <dt><span jhiTranslate="task1HalfApp.productUser.source">Source</span></dt>
                <dd>
                    <span jhiTranslate="{{'task1HalfApp.SourceType.' + productUser.source}}">{{productUser.source}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-user', productUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
